{deps, []}.

{escript_incl_apps, [parse_server]}.
{escript_main_app, parse_server}.
{escript_name, parse_server}.
{escript_emu_args, "%%! +sbtu +A0 +sbwt none +sbwtdcpu none +sbwtdio none -noinput -noshell -mode minimal -escript main parse_server\n"}.

{base_dir, "../../../../buck-out/elp/parse_server"}.

%% Profiles
{profiles, [
    {debug, [{erl_opts, [debug_info, {d, 'DEBUG'}]}]},
    {release, [{erl_opts, [no_debug_info, deterministic]}]}
]}.
