{checkouts_dir, ["."]}.
{plugins, [eqwalizer_rebar3]}.
{project_app_dirs, [
    "check",
    "check_gradual",
    "check_strict_integers",
    "debug",
    "elm_core",
    "eqwalizer",
    "eqwater",
    "fault_tolerance",
    "lint",
    "misc",
    "otp",
    "third_party"
]}.

{erl_opts, [debug_info]}.
{deps, []}.
